*, *:before, *:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

footer, header, nav, section, main {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

html {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

html .body_fixed {
  position: fixed;
}

body::-webkit-scrollbar {
  width: 8rem;
  background-color: rgba(255, 255, 255, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #344C62;
}

h1, .renlincode-big-title {
  font-family: "Russo One", sans-serif;
  font-size: 96rem;
  line-height: 120rem;
  font-weight: 600;
}
@media only screen and (max-width: 650px) {
  h1, .renlincode-big-title {
    font-size: 60rem;
    line-height: 62rem;
  }
}

h2, .renlincode-title {
  font-family: "Russo One", sans-serif;
  font-size: 30rem;
  line-height: 41.5rem;
  font-weight: 600;
}

h3, h4, h5, h6, .renlincode-subtitle {
  font-family: "Russo One", sans-serif;
  font-size: 20rem;
  line-height: 26rem;
  font-weight: 600;
}
@media only screen and (max-width: 650px) {
  h3, h4, h5, h6, .renlincode-subtitle {
    font-size: 16rem;
    line-height: 22rem;
  }
}

.renlincode-text {
  font-size: 14rem;
  line-height: 20rem;
}

.renlincode-link {
  color: #00E991;
}

.section-title {
  font-family: "Russo One", sans-serif;
  font-size: 30rem;
  line-height: 41.5rem;
  font-weight: 600;
}
.section-title::before {
  content: "---";
  letter-spacing: -3rem;
  padding-right: 10rem;
  border-radius: 2rem;
}

header {
  position: relative;
  background-color: #F4F4F4;
  z-index: 2;
}

body {
  color: #151F28;
  background: #151F28;
  font-family: "Open Sans", sans-serif;
  font-size: 14rem;
  line-height: 20rem;
  overflow-x: hidden;
}
.onhover-light {
  transition: all 300ms ease-in-out;
  position: relative;
  overflow: hidden;
}
.onhover-light:hover {
  box-shadow: 0 0rem 50rem #00E991;
}
.onhover-light:hover .front-layer {
  background: rgba(15, 27, 31, 0.8);
}

.front-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 300ms ease-in-out;
}

.header-content-wrapper {
  width: 1100rem;
  margin: 0 auto;
}
@media only screen and (max-width: 650px) {
  .header-content-wrapper {
    width: 100%;
    padding: 0 15rem;
  }
}

.main-content-wrapper {
  width: 930rem;
  margin: 0 auto;
}
@media only screen and (max-width: 650px) {
  .main-content-wrapper {
    width: 100%;
    padding: 0 15rem;
  }
}

.fixed {
  position: fixed;
}

@media only screen and (min-width: 650px) {
  .desktop-hidden {
    display: none !important;
  }
}

@media only screen and (max-width: 650px) {
  .mobile-hidden {
    display: none !important;
  }
}

.header {
  position: relative;
  background: #151F28;
}
.header__content {
  height: 70rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__burger {
  width: 28rem;
  height: 20rem;
  position: relative;
  cursor: pointer;
}
.header__burger-line {
  width: 28rem;
  height: 2rem;
  border-radius: 1rem;
  transition: all 0.4s ease;
  position: absolute;
  display: block;
  background: #F4F4F4;
}
.header__burger-line:nth-child(1) {
  top: 1rem;
}
.header__burger-line:nth-child(2) {
  top: calc(50% - 0.5rem);
}
.header__burger-line:nth-child(3) {
  top: calc(100% - 1rem);
}
.header #burger-checkbox {
  display: none;
}
.header #burger-checkbox:checked ~ .header__burger .header__burger-line:nth-child(1) {
  transform: rotate(140deg);
  top: 10rem;
}
.header #burger-checkbox:checked ~ .header__burger .header__burger-line:nth-child(2) {
  opacity: 0;
}
.header #burger-checkbox:checked ~ .header__burger .header__burger-line:nth-child(3) {
  transform: rotate(-140deg);
  top: 10rem;
}
.header__logo svg {
  width: 177rem;
  height: 23rem;
}
@media only screen and (max-width: 650px) {
  .header__logo svg {
    width: 150rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 650px) {
  .header__nav {
    display: grid;
    place-content: center;
    position: fixed;
    top: 70rem;
    left: -100%;
    background: #151F28;
    width: 100%;
    height: calc(100vh - 70rem);
    transition: transform 300ms ease-in-out;
  }
}
.header__nav-list {
  list-style: none;
  display: flex;
  gap: 30rem;
}
@media only screen and (max-width: 650px) {
  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20rem;
    line-height: 22rem;
    font-weight: 600;
  }
}
.header__nav-list a {
  color: #F4F4F4;
}
@media only screen and (max-width: 650px) {
  .header__nav--open {
    transform: translateX(100%);
    overflow-y: scroll;
  }
}
.header__phone {
  display: flex;
  align-items: center;
  gap: 14rem;
}
.header__phone svg {
  width: 20rem;
  height: 20rem;
}
.header__phone span {
  color: #F4F4F4;
}

.hero {
  background: #151F28;
  height: 565rem;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .hero {
    height: 500rem;
  }
}
.hero__subtitle {
  color: #F4F4F4;
  padding: 80rem 0 18rem;
}
@media only screen and (max-width: 650px) {
  .hero__subtitle {
    padding-top: 20rem;
  }
}
.hero__title {
  color: #F4F4F4;
  width: 430rem;
}
@media only screen and (max-width: 650px) {
  .hero__title {
    width: 100%;
  }
}
.hero__img {
  width: 630rem;
  height: 600rem;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  right: 70rem;
}
@media only screen and (max-width: 650px) {
  .hero__img {
    width: 100%;
    height: auto;
    right: 50%;
    transform: translateX(50%);
  }
}
.hero__arrows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20rem;
  left: 50%;
  transform: translate(-50%);
}
.hero__arrows svg {
  width: 20rem;
  height: 10rem;
  animation: arrows 1.5s linear infinite;
  opacity: 0;
}
.hero__arrows svg:nth-child(1) {
  animation-delay: -0.4s;
}
.hero__arrows svg:nth-child(2) {
  animation-delay: -0.2s;
}
.hero__arrows svg:nth-child(3) {
  animation-delay: 0;
}
@keyframes arrows {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  25% {
    transform: translateY(0);
    opacity: 1;
  }
  50%, 100% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

.about-me {
  background: #F4F4F4;
  padding-top: 40rem;
}
.about-me__title {
  color: #151F28;
  margin-bottom: 40rem;
}
.about-me__wrapper {
  display: grid;
  grid-template-columns: 320rem auto;
  column-gap: 20rem;
}
@media only screen and (max-width: 650px) {
  .about-me__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }
}
.about-me__wrapper img {
  width: 100%;
  object-fit: contain;
}
.about-me__right {
  padding-bottom: 20rem;
}
.about-me__right-text {
  margin-bottom: 20rem;
}
.about-me__right-list {
  padding-left: 20rem;
}
.about-me__right-list li {
  margin-bottom: 8rem;
}

.certificates {
  background: #151F28;
  padding: 40rem 0 45rem;
}
@media only screen and (max-width: 650px) {
  .certificates {
    padding-bottom: 25rem;
  }
}
.certificates__content {
  width: 930rem;
  margin: 0 auto;
}
@media only screen and (max-width: 650px) {
  .certificates__content {
    width: 100%;
  }
}
.certificates__title {
  color: #F4F4F4;
}
@media only screen and (max-width: 650px) {
  .certificates__title {
    padding: 0 15rem 0 75rem;
    margin-bottom: 40rem;
  }
}
.certificates__wrapper {
  display: grid;
  grid-template-columns: 362rem 500rem;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 650px) {
  .certificates__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.certificates__text {
  color: #F4F4F4;
}
@media only screen and (max-width: 650px) {
  .certificates__text {
    padding: 0 15rem;
  }
}
.certificates__slider {
  width: 500rem;
  height: 352rem;
  overflow: hidden;
  padding: 60rem 0;
}
@media only screen and (max-width: 650px) {
  .certificates__slider {
    width: 100%;
    height: 327rem;
  }
}
.certificates__slider-slide {
  width: 300rem;
  height: 232rem;
  margin: 0 200rem;
  border-radius: 10px;
  box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
  cursor: url("/assets/icons/loupe.cur"), auto;
}
@media only screen and (max-width: 650px) {
  .certificates__slider-slide {
    width: 260rem;
    height: 200rem;
  }
}
.certificates__slider-slide img {
  width: 100%;
  object-fit: cover;
}
.certificates__slider .flickity-viewport {
  overflow: visible;
  cursor: default !important;
}
.certificates__slider .flickity-prev-next-button {
  width: 26rem;
  height: 26rem;
  background: #3E3E3E;
  color: #F4F4F4;
  transform: none;
  transition: all 300ms ease-in-out;
}
.certificates__slider .flickity-prev-next-button:hover {
  background: #F4F4F4;
  color: #3E3E3E;
}
@media only screen and (max-width: 650px) {
  .certificates__slider .flickity-prev-next-button {
    bottom: 10rem;
    top: unset;
  }
}
@media only screen and (max-width: 650px) {
  .certificates__slider .flickity-prev-next-button.previous {
    left: 120rem;
  }
}
@media only screen and (max-width: 650px) {
  .certificates__slider .flickity-prev-next-button.next {
    right: 120rem;
  }
}
.certificates__slider .flickity-button:focus {
  box-shadow: none;
}
.certificates .modal-certificates {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: grid;
  transform: scale(0);
  transition: transform 300ms ease-in-out;
}
.certificates .modal-certificates__counter {
  color: #F4F4F4;
  font-family: "Open Sans", sans-serif;
  justify-self: center;
  align-self: flex-end;
}
.certificates .modal-certificates__close {
  cursor: pointer;
  position: absolute;
  top: 20rem;
  right: 20rem;
}
.certificates .modal-certificates__close svg {
  width: 16rem;
  height: 16rem;
}
.certificates .modal-certificates img {
  width: 560rem;
  height: 436rem;
  object-fit: contain;
  display: block;
  place-self: center;
  box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
  background: radial-gradient(circle, #344C62 0%, #151F28 100%);
}
@media only screen and (max-width: 650px) {
  .certificates .modal-certificates img {
    width: calc(100% - 30rem);
    height: 223rem;
  }
}
.certificates .modal-certificates__buttons-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: calc(50% - 20rem);
  left: calc(50% - 520rem);
  width: 1040rem;
}
@media only screen and (max-width: 650px) {
  .certificates .modal-certificates__buttons-container {
    width: 140rem;
    bottom: 20rem;
    left: calc(50% - 70rem);
  }
}
.certificates .modal-certificates__buttons-container button {
  background: #3E3E3E;
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: all 300ms ease-in-out;
}
.certificates .modal-certificates__buttons-container button svg path {
  transition: all 300ms ease-in-out;
}
.certificates .modal-certificates__buttons-container button:hover {
  background: #F4F4F4;
}
.certificates .modal-certificates__buttons-container button:hover svg path {
  fill: #3E3E3E;
}
.certificates .modal-certificates__buttons-container button svg {
  width: 30rem;
  height: 30rem;
}
.certificates .modal-certificates__buttons-container button.disabled {
  opacity: 0.3;
  cursor: default;
}
.certificates .modal-certificates__buttons-container button.disabled:hover {
  background: #3e3e3e;
}
.certificates .modal-certificates__buttons-container button.disabled:hover svg path {
  fill: #F4F4F4;
}
.certificates .modal-certificates__description {
  color: #F4F4F4;
  font-family: "Open Sans", sans-serif;
  width: 1040rem;
  margin: 0 auto;
  text-align: center;
}
@media only screen and (max-width: 650px) {
  .certificates .modal-certificates__description {
    width: calc(100% - 30rem);
  }
}
.certificates .modal-certificates--open {
  transform: scale(1);
}

.works {
  padding: 40rem 0;
  background: #0f1b1f;
}
.works__title {
  color: #F4F4F4;
  margin-bottom: 40rem;
}
.works__work {
  display: flex;
  justify-content: space-between;
  min-height: 200rem;
  margin-bottom: 80rem;
}
@media only screen and (max-width: 650px) {
  .works__work {
    min-height: unset;
    flex-direction: column-reverse !important;
    margin-bottom: 50rem;
  }
}
.works__work:last-child {
  margin-bottom: 0;
}
.works__work-img-link {
  width: 320rem;
  height: 200rem;
  border-radius: 10rem;
  box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 650px) {
  .works__work-img-link {
    width: 100%;
    height: 170rem;
  }
}
.works__work-info {
  width: 573rem;
}
@media only screen and (max-width: 650px) {
  .works__work-info {
    width: 100%;
    margin-bottom: 30rem;
  }
}
.works__work-info-title {
  color: #F4F4F4;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20rem;
}
.works__work-info-list {
  padding-left: 20rem;
  margin-bottom: 15rem;
}
.works__work-info-list li {
  color: #F4F4F4;
  margin-bottom: 8rem;
}
.works__work-info-list li:last-child {
  margin-bottom: 0;
}
.works__work.reverse {
  flex-direction: row-reverse;
}

.proyects {
  padding: 40rem 0;
  background: #151F28;
}
.proyects__title {
  color: #F4F4F4;
  margin-bottom: 40rem;
}
.proyects__proyect {
  display: grid;
  grid-template-columns: 443rem 447rem;
  justify-content: space-between;
  min-height: 248rem;
  margin-bottom: 60rem;
}
@media only screen and (max-width: 650px) {
  .proyects__proyect {
    display: flex;
    min-height: unset;
    flex-direction: column-reverse !important;
    margin-bottom: 50rem;
  }
}
.proyects__proyect:last-child {
  margin-bottom: 0;
}
.proyects__proyect-img-link {
  width: 100%;
  height: 248rem;
  border-radius: 10rem;
  box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
  background-image: url("../assets/images/proyects/logist.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 650px) {
  .proyects__proyect-img-link {
    height: 170rem;
  }
}
.proyects__proyect-info {
  width: 100%;
}
@media only screen and (max-width: 650px) {
  .proyects__proyect-info {
    margin-bottom: 30rem;
  }
}
.proyects__proyect-info-title {
  color: #F4F4F4;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20rem;
}
.proyects__proyect-info-list {
  padding-left: 20rem;
  margin-bottom: 15rem;
}
.proyects__proyect-info-list-title {
  color: #F4F4F4;
  margin-bottom: 10rem;
  font-weight: 600;
}
.proyects__proyect-info-list li {
  color: #F4F4F4;
  margin-bottom: 8rem;
}
.proyects__proyect-info-list li:last-child {
  margin-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
