@import "./reset";
@import "./vars";

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}
html .body_fixed {
    position: fixed;
}
body::-webkit-scrollbar {
    width: 8rem;
    background-color: rgba(255, 255, 255, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: $secondary;
}



//TEXT STYLES
h1, .renlincode-big-title {
    font-family: "Russo One", sans-serif;
    font-size: 96rem;
    line-height: 120rem;
    font-weight: 600;
    @media only screen and (max-width: 650px) {
        font-size: 60rem;
        line-height: 62rem;
    }    
}
h2, .renlincode-title {
    font-family: "Russo One", sans-serif;
    font-size: 30rem;
    line-height: 41.5rem;
    font-weight: 600;
}
h3, h4, h5, h6, .renlincode-subtitle {
    font-family: "Russo One", sans-serif;
    font-size: 20rem;
    line-height: 26rem;
    font-weight: 600;
    @media only screen and (max-width: 650px) {
        font-size: 16rem;
        line-height: 22rem;
    }    
}
.renlincode-text {
    font-size: 14rem;
    line-height: 20rem;
}

.renlincode-link {
    color: $main;
}

.section-title {
    font-family: "Russo One", sans-serif;
    font-size: 30rem;
    line-height: 41.5rem;
    font-weight: 600;
    &::before {
        content: "---";
        letter-spacing: -3rem;
        padding-right: 10rem;
        border-radius: 2rem;
    }
}
//GLOBAL STYLES
header {
    position: relative;
    background-color: $white;
    z-index: 2;
}
body {
    color: $black;
    background: $black;
    font-family: "Open Sans", sans-serif;
    font-size: 14rem;
    line-height: 20rem;
    @media only screen and (max-width: 650px) {
    }    
}

.onhover-light {
    transition: all 300ms ease-in-out;
    position: relative;
    overflow: hidden;
    &:hover {
        box-shadow: 0 0rem 50rem $main;
        .front-layer {
            background: rgba($very-black, 0.8);
        }    
    }
}
.front-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 300ms ease-in-out;
}


//LAYOUT
.header-content-wrapper {
    width: 1100rem;
    margin: 0 auto;
    @media only screen and (max-width: 650px) {
        width: 100%;
        padding: 0 15rem;
    }
}
.main-content-wrapper {
    width: 930rem;
    margin: 0 auto;
    @media only screen and (max-width: 650px) {
        width: 100%;
        padding: 0 15rem;
    }
}
.fixed {
    position: fixed;
}
//VISIBILITY

.desktop-hidden {
    @media only screen and (min-width: 650px) {
        display: none !important;
    }
}
.mobile-hidden {
    @media only screen and (max-width: 650px) {
        display: none !important;
    }
}


//BLOCKS
.header {
    width: 100%;
    position: relative;
    background: $black;
    &__content {
        height: 70rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger {
        width: 28rem;
        height: 20rem;
        position: relative;
        cursor: pointer;
        &-line {
            width: 28rem;
            height: 2rem;
            border-radius: 1rem;
            transition: all 0.4s ease;
            position: absolute;
            display: block;
            background: $white;
            &:nth-child(1) {
                top: 1rem;
            }    
            &:nth-child(2) {
                top: calc(50% - 0.5rem);
            }    
            &:nth-child(3) {
                top: calc(100% - 1rem);
            }    
        }
    }
    #burger-checkbox {
        display: none;
        &:checked ~ .header__burger .header__burger-line {
            &:nth-child(1) {
                transform: rotate(140deg);
                top: 10rem;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-140deg);
                top: 10rem;
            }
        }
    }
    
    &__logo {
        svg {
            width: 177rem;
            height: 23rem;
            @media only screen and (max-width: 650px) {
                width: 150rem;
                height: 20rem;
            }
        }
    }
    &__nav {
        @media only screen and (max-width: 650px) {
            display: grid;
            place-content: center;
            position: fixed;
            top: 70rem;
            left: -100%;
            background: $black;
            width: 100%;
            height: calc(100vh - 70rem);
            transition: transform 300ms ease-in-out;
        }
        &-list {
            list-style: none;
            display: flex;
            gap: 30rem;
            @media only screen and (max-width: 650px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 20rem;
                line-height: 22rem;
                font-weight: 600;
            }
            a {
                color: $white;
            }
        }
        &--open {
            @media only screen and (max-width: 650px) {
                transform: translateX(100%);
                overflow-y: scroll;
            } 
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 14rem;
        svg {
            width: 20rem;
            height: 20rem;
        }
        span {
            color: $white;
        }
    }
}

.hero {
    width: 100%;
    background: $black;
    height: 565rem;
    position: relative;
    @media only screen and (max-width: 650px) {
        height: 500rem;
    }
    &__subtitle {
        color: $white;
        padding: 80rem 0 18rem;
        @media only screen and (max-width: 650px) {
            padding-top: 20rem;
        }
    }
    &__title {
        color: $white;
        width: 430rem;
        @media only screen and (max-width: 650px) {
            width: 100%;
        }
    }
    &__img {
        width: 630rem;
        height: 600rem;
        object-fit: contain;
        position: absolute;
        bottom: 0;
        right: 70rem;
        @media only screen and (max-width: 650px) {
            width: 100%;
            height: auto;
            right: 50%;
            transform: translateX(50%);
        }
    }
    &__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20rem;
        left: 50%;
        transform: translate(-50%);
        svg {
            width: 20rem;
            height: 10rem;
            animation: arrows 1.5s linear infinite;
            opacity: 0;
            &:nth-child(1) {
                animation-delay: -0.4s;
            }      
            &:nth-child(2) {
                animation-delay: -0.2s;
            }      
            &:nth-child(3) {
                animation-delay: 0;
            }      
        }
        @keyframes arrows
        {
            0%
            {   
                transform: translateY(-5rem);
                opacity: 0;
            }
            25%
            {   
                transform: translateY(0);
                opacity: 1;
            }
            50%, 100%
            {
                transform: translateY(5rem);
                opacity: 0;
            }
        }
    }
}

.about-me {
    width: 100%;
    background: $white;
    padding-top: 40rem;
    &__title {
        color: $black;
        margin-bottom: 40rem;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 320rem auto;
        column-gap: 20rem;
        @media only screen and (max-width: 650px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 0;
        }
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__right {
        padding-bottom: 20rem;
        &-text {
            margin-bottom: 20rem;
        }
        &-list {
            padding-left: 20rem;
            li {
                margin-bottom: 8rem;
            }
        }
    }
}

.certificates {
    width: 100%;
    background: $black;
    padding: 40rem 0 45rem;
    @media only screen and (max-width: 650px) {
        padding-bottom: 25rem;
    }
    &__content {
        width: 930rem;
        margin: 0 auto;
        @media only screen and (max-width: 650px) {
            width: 100%;
        }
    }
    &__title {
        color: $white;
        @media only screen and (max-width: 650px) {
            padding: 0 15rem 0 15rem;
            margin-bottom: 40rem;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 362rem 500rem;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 650px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__text {
        color: $white;
        @media only screen and (max-width: 650px) {
            padding: 0 15rem;
        }
    }
    &__slider {
        width: 500rem;
        height: 352rem;
        overflow: hidden;
        padding: 60rem 0;
        @media only screen and (max-width: 650px) {
            width: 100%;
            height: 327rem;

        }
        &-slide {
            width: 300rem;
            height: 232rem;
            margin: 0 200rem;
            border-radius: 10px;
            box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
            cursor: url("/assets/icons/loupe.cur"), auto;
            @media only screen and (max-width: 650px) {
                width: 260rem;
                height: 200rem;
            }
            img {
                width: 100%;
                object-fit: cover;
            }    
        }
        
        
        .flickity {
            &-viewport {
                overflow: visible;
                cursor: default !important;
            }
            &-prev-next-button {
                width: 26rem;
                height: 26rem;
                background: #3E3E3E;
                color: $white;
                transform: none;
                transition: all 300ms ease-in-out;
                &:hover {
                    background: $white;
                    color: #3E3E3E;
                }
                @media only screen and (max-width: 650px) {
                    bottom: 10rem;
                    top: unset;
                }
                &.previous {
                    @media only screen and (max-width: 650px) {
                        left: 120rem;
                    }
                }
                &.next {
                    @media only screen and (max-width: 650px) {
                        right: 120rem;
                    }
                }
            }
            &-button:focus {
                box-shadow: none;
            }
        }
    }

    .modal-certificates {
        display: grid;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(black, 0.9);
        z-index: 2;
        transform: scale(0);
        transition: transform 300ms ease-in-out;
        &__counter {
            color: $white;
            font-family: "Open Sans", sans-serif;
            justify-self: center;
            align-self: flex-end;
        }
        
        &__close {
            cursor: pointer;
            position: absolute;
            top: 20rem;
            right: 20rem;
            svg {
                width: 16rem;
                height: 16rem;
            }
        }
        img {
            width: 560rem;
            height: 436rem;
            object-fit: contain;
            display: block;
            place-self: center;
            box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
            background: radial-gradient(circle, $secondary 0%, $black 100%);
            @media only screen and (max-width: 650px) {
                width: calc(100% - 30rem);
                height: 223rem;
            }
        }
        &__buttons-container {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: calc(50% - 20rem);
            left: calc(50% - 520rem);
            width: 1040rem;
            @media only screen and (max-width: 650px) {
                width: 140rem;
                bottom: 20rem;
                left: calc(50% - 70rem);
            }
            button {
                background: #3E3E3E;
                width: 40rem;
                height: 40rem;
                border-radius: 50%;
                display: grid;
                place-content: center;
                transition: all 300ms ease-in-out;
                svg path {
                    transition: all 300ms ease-in-out;
                }
                &:hover {
                    background: $white;
                    svg path {
                        fill: #3E3E3E;
                    }
                }
                svg {
                    width: 30rem;
                    height: 30rem;
                }
                &.disabled {
                    opacity: 0.3;
                    cursor: default;
                    &:hover {
                        background: #3e3e3e;
                        svg path {
                            fill: $white;
                        }    
                    }
                }
            }
        }
        &__description {
            color: $white;
            font-family: "Open Sans", sans-serif;
            width: 1040rem;
            margin: 0 auto;
            text-align: center;
            @media only screen and (max-width: 650px) {
                width: calc(100% - 30rem);
            }
        }


        &--open {
            transform: scale(1);
        }
    }
}

.works {
    width: 100%;
    padding: 40rem 0;
    background: $very-black;
    &__title {
        color: $white;
        margin-bottom: 40rem;
    }
    &__work {
        display: flex;
        justify-content: space-between;
        min-height: 200rem;
        margin-bottom: 80rem;
        @media only screen and (max-width: 650px) {
            min-height: unset;
            flex-direction: column-reverse !important;
            margin-bottom: 50rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-img-link {
            width: 320rem;
            height: 200rem;
            border-radius: 10rem;
            box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @media only screen and (max-width: 650px) {
                width: 100%;
                height: 170rem;
            }
        }
        &-info {
            width: 573rem;
            @media only screen and (max-width: 650px) {
                width: 100%;
                margin-bottom: 30rem;
            }
            &-title {
                color: $white;
                font-family: "Open Sans", sans-serif;
                margin-bottom: 20rem;
            }
            &-list {
                padding-left: 20rem;
                li {
                    color: $white;
                    margin-bottom: 8rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                margin-bottom: 15rem;
            }
        }
        &.reverse {
            flex-direction: row-reverse;
        }
    }
}

.proyects {
    width: 100%;
    padding: 40rem 0;
    background: $black;
    &__title {
        color: $white;
        margin-bottom: 40rem;
    }
    &__proyect {
        display: grid;
        grid-template-columns: 443rem 447rem;
        justify-content: space-between;
        min-height: 248rem;
        margin-bottom: 60rem;
        @media only screen and (max-width: 650px) {
            display: flex;
            min-height: unset;
            flex-direction: column-reverse;
            margin-bottom: 50rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &-img-link {
            width: 100%;
            height: 248rem;
            border-radius: 10rem;
            box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
            background-image: url("../assets/images/proyects/logist.png");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @media only screen and (max-width: 650px) {
                height: 170rem;
            }
        }
        &-info {
            width: 100%;
            @media only screen and (max-width: 650px) {
                margin-bottom: 30rem;
            }
            &-title {
                color: $white;
                font-family: "Open Sans", sans-serif;
                margin-bottom: 20rem;
            }
            &-list {
                padding-left: 20rem;
                &-title {
                    color: $white;
                    margin-bottom: 10rem;
                    font-weight: 600;
                }
                li {
                    color: $white;
                    margin-bottom: 8rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                margin-bottom: 15rem;
            }
        }
    }
}

.contacts {
    width: 100%;
    padding: 40rem 0;
    background: $black;
    &__title {
        color: $white;
        margin-bottom: 40rem;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 650px) {
            align-items: flex-start;
        }
    }
    &__list {
        display: flex;
        gap: 20rem;
        li {
            a {
                color: $white;
            }
        }
        @media only screen and (max-width: 650px) {
            flex-direction: column;
            gap: 16rem;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 14rem;
        svg {
            width: 20rem;
            height: 20rem;
        }
        span {
            color: $white;
            font-family: "Open Sans", sans-serif;
        }
    }
}

.footer {
    width: 100%;
    padding: 40rem 0;
    background: $very-black;
    &__logo {
        display: flex;
        justify-content: center;
        margin-bottom: 40rem;
        svg {
            width: 177rem;
            height: 23rem;
            @media only screen and (max-width: 650px) {
                width: 150rem;
                height: 20rem;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width: 650px) {
            flex-direction: column;
        }
    }
    &__nav {
        &-list {
            list-style: none;
            display: flex;
            gap: 30rem;
            @media only screen and (max-width: 650px) {
                display: grid;
                grid-template-columns: repeat(3, auto);
                column-gap: 10rem;
                row-gap: 16rem;
                margin-bottom: 30rem;
            }
            a {
                color: $white;
            }
        }
    }
    &__right {
        display: flex;
        flex-direction: column;
        gap: 30rem;
        @media only screen and (max-width: 650px) {
            align-items: center;
            gap: 16rem;
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 14rem;
        svg {
            width: 20rem;
            height: 20rem;
        }
        span {
            color: $white;
        }
    }
    &__link {
        color: $white;
    }
}