@import "./reset";
@import "./vars";

html {
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}
html .body_fixed {
    position: fixed;
}
body::-webkit-scrollbar {
    width: 8rem;
    background-color: rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
}



//TEXT STYLES
h1, .renlincode-big-title {
    font-family: "Russo One", sans-serif;
    font-size: 96rem;
    line-height: 120rem;
    font-weight: 600;
    @media only screen and (max-width: 650px) {
        font-size: 60rem;
        line-height: 62rem;
    }    
}
h2, .renlincode-title {
    font-family: "Russo One", sans-serif;
    font-size: 30rem;
    line-height: 41.5rem;
    font-weight: 600;
}
h3, h4, h5, h6 .renlincode-subtitle {
    font-family: "Russo One", sans-serif;
    font-size: 20rem;
    line-height: 26rem;
    font-weight: 600;
    @media only screen and (max-width: 650px) {
        font-size: 14rem;
        line-height: 16rem;
    }    
}
.renlincode-text {
    font-size: 14rem;
    line-height: 20rem;
}
.renlincode-link {
    color: $main;
}

//GLOBAL STYLES
header {
    position: relative;
    background-color: $white;
    z-index: 2;
}
body {
    color: $black;
    font-family: "Open Sans", sans-serif;
    font-size: 14rem;
    line-height: 20rem;
    overflow-x: hidden;
    @media only screen and (max-width: 650px) {
    }    
}


//LAYOUT
.header-content-wrapper {
    width: 1100rem;
    margin: 0 auto;
    @media only screen and (max-width: 650px) {
        width: 100%;
        padding: 0 15rem;
    }
}
.main-content-wrapper {
    width: 930rem;
    margin: 0 auto;
    @media only screen and (max-width: 650px) {
        width: 100%;
        padding: 0 15rem;
    }
}

//VISIBILITY

.desktop-hidden {
    @media only screen and (min-width: 650px) {
        display: none !important;
    }
}
.mobile-hidden {
    @media only screen and (max-width: 650px) {
        display: none !important;
    }
}


//BLOCKS

.header {
    position: relative;
    background: $black;
    &__content {
        height: 70rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__burger {
        width: 28rem;
        height: 20rem;
        position: relative;
        cursor: pointer;
        &-line {
            width: 28rem;
            height: 2rem;
            border-radius: 1rem;
            transition: all 0.4s ease;
            position: absolute;
            display: block;
            background: $white;
            &:nth-child(1) {
                top: 1rem;
            }    
            &:nth-child(2) {
                top: calc(50% - 0.5rem);
            }    
            &:nth-child(3) {
                top: calc(100% - 1rem);
            }    
        }
    }
    #burger-checkbox {
        display: none;
        &:checked ~ .header__burger .header__burger-line {
            &:nth-child(1) {
                transform: rotate(140deg);
                top: 10rem;
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: rotate(-140deg);
                top: 10rem;
            }
        }
    }
    
    &__logo {
        svg {
            width: 177rem;
            height: 23rem;
            @media only screen and (max-width: 650px) {
                width: 150rem;
                height: 20rem;
            }
        }
    }
    &__nav {
        @media only screen and (max-width: 650px) {
            display: grid;
            place-content: center;
            position: absolute;
            top: 70rem;
            left: -100%;
            background: $black;
            width: 100%;
            height: calc(100vh - 70rem);
            transition: transform 300ms ease-in-out;
        }
        &-list {
            list-style: none;
            display: flex;
            gap: 30rem;
            @media only screen and (max-width: 650px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 20rem;
                line-height: 22rem;
                font-weight: 600;
            }
            a {
                color: $white;
            }
        }
        &--open {
            @media only screen and (max-width: 650px) {
                transform: translateX(100%);
            } 
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        gap: 14rem;
        svg {
            width: 20rem;
            height: 20rem;
        }
        span {
            color: $white;
        }
    }
}

.hero {
    background: $black;
    height: 565rem;
    position: relative;
    @media only screen and (max-width: 650px) {
        height: 500rem;
    }
    &__subtitle {
        color: $white;
        padding: 80rem 0 18rem;
        @media only screen and (max-width: 650px) {
            padding-top: 20rem;
        }
    }
    &__title {
        color: $white;
        width: 430rem;
        @media only screen and (max-width: 650px) {
            width: 100%;
        }
    }
    &__img {
        width: 630rem;
        height: 600rem;
        object-fit: contain;
        position: absolute;
        bottom: 0;
        right: 70rem;
        @media only screen and (max-width: 650px) {
            width: 100%;
            height: auto;
            right: 50%;
            transform: translateX(50%);
        }
    }
    &__arrows {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 20rem;
        left: 50%;
        transform: translate(-50%);
        svg {
            width: 20rem;
            height: 10rem;
            animation: arrows 1.5s linear infinite;
            opacity: 0;
            &:nth-child(1) {
                animation-delay: -0.4s;
            }      
            &:nth-child(2) {
                animation-delay: -0.2s;
            }      
            &:nth-child(3) {
                animation-delay: 0;
            }      
        }
        @keyframes arrows
        {
            0%
            {   
                transform: translateY(-5rem);
                opacity: 0;
            }
            25%
            {   
                transform: translateY(0);
                opacity: 1;
            }
            50%, 100%
            {
                transform: translateY(5rem);
                opacity: 0;
            }
        }
    }
}

.about-me {
    background: $white;
    padding-top: 40rem;
    &__title {
        color: $black;
        padding-left: 60rem;
        margin-bottom: 40rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 2rem);
            left: 0;
            width: 50rem;
            height: 4rem;
            border-radius: 2rem;
            background: $black;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 320rem auto;
        column-gap: 20rem;
        @media only screen and (max-width: 650px) {
            display: flex;
            flex-direction: column-reverse;
            gap: 0;
        }
        img {
            width: 100%;
            object-fit: contain;
        }
    }
    &__right {
        padding-bottom: 20rem;
        &-text {
            margin-bottom: 20rem;
        }
        &-list {
            list-style: inside;
            li {
                margin-bottom: 6rem;
            }
        }
    }
}

.certificates {
    background: $black;
    padding: 40rem 0 45rem;
    @media only screen and (max-width: 650px) {
        padding-bottom: 25rem;
    }
    &__content {
        width: 930rem;
        margin: 0 auto;
        @media only screen and (max-width: 650px) {
            width: 100%;
        }
    }
    &__title {
        color: $white;
        padding-left: 60rem;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: calc(50% - 2rem);
            left: 0;
            width: 50rem;
            height: 4rem;
            border-radius: 2rem;
            background: $white;
            @media only screen and (max-width: 650px) {
                left: 15rem;
            }
        } 
        @media only screen and (max-width: 650px) {
            padding: 0 15rem 0 75rem;
            margin-bottom: 40rem;
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 362rem 500rem;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width: 650px) {
            display: flex;
            flex-direction: column;
        }
    }
    &__text {
        color: $white;
        @media only screen and (max-width: 650px) {
            padding: 0 15rem;
        }
    }
    &__slider {
        width: 500rem;
        height: 352rem;
        overflow: hidden;
        padding: 60rem 0;
        @media only screen and (max-width: 650px) {
            width: 100%;
            height: 327rem;

        }
        &-slide {
            position: relative;
            width: 300rem;
            height: 232rem;
            margin: 0 200rem;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 4rem 8rem 50rem rgba(0, 0, 0, 0.81);
            transition: all 300ms ease-in-out;
            cursor: url("/assets/icons/loupe.cur"), auto;
            @media only screen and (max-width: 650px) {
                width: 260rem;
                height: 207rem;
            }
            &:hover {
                box-shadow: 0 0rem 50rem $main;
                .front-layer {
                    background: rgba($very-black, 0.7);
                }
            }
            .front-layer {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                transition: all 300ms ease-in-out;
            }
            img {
                width: 100%;
                object-fit: contain;
            }    
        }
        
        
        .flickity {
            &-viewport {
                overflow: visible;
                cursor: default !important;
            }
            &-prev-next-button {
                width: 26rem;
                height: 26rem;
                background: #3E3E3E;
                color: $white;
                transform: none;
                transition: all 300ms ease-in-out;
                &:hover {
                    background: $white;
                    color: #3E3E3E;
                }
                @media only screen and (max-width: 650px) {
                    bottom: 10rem;
                    top: unset;
                }
                &.previous {
                    @media only screen and (max-width: 650px) {
                        left: 120rem;
                    }
                }
                &.next {
                    @media only screen and (max-width: 650px) {
                        right: 120rem;
                    }
                }
            }
        }
    }
}